@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/*menu superior*/
.menusup{
    height: 66px;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Alinha os elementos na navbar */
    align-items: center;
    border-radius: 0%;
    margin: 0%;
    padding: 0%;
    z-index: 50;
    overflow: hidden;
}

.personalizar{
  background-color: #5AB9C6;
  color: white;
  border: white;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  font-family: 'Outfit', sans-serif;
}

/*menu lateral*/
.side-bar{
  background: rgba(206, 206, 206, 0.1);
  backdrop-filter:blur(10px);
  width: 240px;
  height: 100vh;
  position: fixed;
  top:0;
  left: -100%;
  overflow-y: auto;
  transition: 0.5s ease;
  transition-property: left;
  margin-top: 66px;
}

.side-bar.active{
  left: 0;
}

.side-bar .menu{
  width: 100%;
  margin-top: 0px;
}

.side-bar .menu .item{
  position:relative;
  cursor:pointer;
}

.side-bar .menu .item a{
  color: #464646;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}


.side-bar .menu .item a:hover{
  color: #158291;
  transition: 0.3s ease;
}


.side-bar .menu .item i{
  margin-right: 15px;
  font-size: 24px;
}

.side-bar .menu .item a .dropdown{
  position: absolute;
  left: 200px;
  margin-top: 6px;
  transition: 0.3s ease;

}

.side-bar .menu .item .sub-menu{
  background: rgba(90, 185, 198, 0.1);
  display:none;
}

.side-bar .menu .item .sub-menu a{
  text-align: center;
}

.rotate{
  transform: rotate(90deg);
}

.menu-btn {
  position: absolute;
  color: #bebebe;
  font-size: 24px;
  margin: 6px;
  cursor: pointer;
  z-index: 3;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border-radius: 50%;
}

.menu-btn:hover {
  background-color: rgba(192, 192, 192, 0.1);


}
.cor{
  color: #727272;
}


/*logo da nav*/
.logo {
  display: flex;
  align-items: center;
  line-height: 66px;
  vertical-align: middle;
}

.imglogo{
  height: 125px;
  margin-left: 40px;
  z-index: 2;
}

.container{
  display: flex;
  align-items: center;
}

/*footer*/
.title-footer{
    color: #158291;
}

/*barra de rolagem*/
html ::-webkit-scrollbar {
  width: 0px;
}

.containermat {
  max-width: 70%;
  margin-left: 60px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.tit{
  font-size: 70px;
  font-family: 'Outfit';
  color: #727272;
}

.tit2{
  font-family: 'Outfit';
  color: #727272;
}

@media (max-width: 768px) {
  .containermat {
      max-width: 90%;
  }
  .tit{
    font-size: 50px;
  }
  .tit2{
    font-size: 20px;
  }
}


.list-group {
  width: 100%;
  overflow-x: auto; /* Adicione uma barra de rolagem horizontal quando necessário */
}
.list-group-item {
  white-space: nowrap;
}
